{% extends 'base.html.twig' %}

{% block title %}Tony Di - Nouveau post{% endblock %}

{% block body %}
    <h1>Créer nouveau post</h1>

    {{ include('post_theater/_form.html.twig') }}

    <a href="{{ path('post_theater_index') }}">Retour à la liste</a>
{% endblock %}