{% extends 'base.html.twig' %}

{% block title %}Tony Di - Mon compte{% endblock %}

{% block body %}
    {{ include('pages/account.html.twig') }}
    <div id="change_email_form">
        <div class="container">
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="card-header">
                        <h3>Changer d'adresse email</h3>
                    </div>
                    <div class="card-body">
                        <div id="change_email_form" class="card-body">
                            <form method="post">
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-at"></i></span>
                                    </div>
                                    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Nouvel email" required>
                                </div>

                                <div class="form-group">
                                    <input id="btn_send_change_password" type="submit" value="Valider" class="btn float-right login_btn">
                                </div>
                            </form>
                        </div>

                        <div class="card-footer">
                            <div class="d-flex justify-content-center links">
                                <a href="{{ asset('mon_compte/profile') }}">Changer mot de passe</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer>
        {{ include("pages/footer.html.twig") }}
    </footer>
{% endblock %}
