<div id="my_account">
    {{ include("pages/menu_pages.html.twig") }}

    <h1 id="account_h1">Mon compte</h1>
    </div>
    <p>
        <a class="btn btn-outline-danger" href="{{ asset("remove_user/profile") }}"><i class="fas fa-trash-alt"></i> Supprimer mon compte</a>
    </p>
</div>