<div class="container">
    <div class="row">
        <div class="footer_icon col-lg-2">
            <a href="https://www.facebook.com/tonidilyon"><img src="{{ asset('images/icon_fb.png') }}"></a>
        </div>
        <div class="footer_icon col-lg-2">
            <a href="#"><img src="{{ asset('images/icon_twitter.png') }}"></a>
        </div>
        <div class="footer_icon col-lg-2">
            <a href="https://www.youtube.com/channel/UCmDxlJxivXiUXCGwKmJ-dUg"><img src="{{ asset('images/icon_youtube.png') }}"></a>
        </div>
        <div id="footer_newsletter" class="col-lg-offset-2 col-lg-2">
            <p>Newsletter</p>
        </div>
        <div id="footer_legal_notice" class="col-lg-2">
            <a href="{{ asset("legal_notice") }}">Mentions Légales</a>
        </div>
    </div>
</div>