<form method="post" action="{{ path('post_dates_delete', {'id': post_date.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette date ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post_date.id) }}">
    <button class="btn btn-outline-danger">Supprimer</button>
</form>
