{% extends 'base.html.twig' %}

{% block title %}Tony Di - Nouvelle date{% endblock %}

{% block body %}
    <div id="post_dates_new">
        <h1 class="h1_page_without_menu">Ajouter une nouvelle date</h1>
        <a href="{{ path('post_dates_index') }}" class="btn btn-outline-primary btn_return"><i class="fas fa-arrow-circle-left"></i> Retour à la page précédente</a>
        <div class="post_dates_form">
        {{ include('post_dates/_form.html.twig') }}
        </div>
    </div>
    <p class="page_without_footer"></p>
{% endblock %}
