<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- OPEN GRAPH -->
        <meta property="og:title" content="{% block titleSocialNetworksOP %}{% endblock %}">
        <meta property="og:type" content="website">
        <meta property="og:url" content="">
        <meta property="og:image" content="">
        <meta property="og:description" content="">
        <meta property="og:locale" content="fr_FR">
        <meta property="og:site_name" content="Tony Di">

        <!-- TWITTER -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="{% block titleSocialNetworksTwitter %}{% endblock %}">
        <meta name="twitter:site" content="@Tony Di">
        <meta name="twitter:description" content="">
        <meta name="twitter:image" content="">

        {% block stylesheets %}
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
            <link rel="icon" href="{{ asset('images/emoji%20guitare.gif') }}">
            <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset('build/style.css') }}"
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>
